<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

    <display-name>opusProjectModel</display-name>

    <welcome-file-list>
        <welcome-file>opusProjectModel.jsp</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>ca.uSherbrooke.gegi.opusProjectModel.server.guice.GuiceServletConfig</listener-class>
    </listener>
    
    <context-param>
    	<param-name>applicationId</param-name>
    	<param-value>3</param-value>
	</context-param>
	
	<filter>
        <filter-name>guiceFilter</filter-name>
        <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>guiceFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	
	<filter> 
		<filter-name>CAS Authentication Filter</filter-name> 
		<filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class> 
		<init-param> 
			<param-name>casServerLoginUrl</param-name> 
			<param-value>https://cas.usherbrooke.ca/login</param-value> 
		</init-param> 
		<init-param> 
			<param-name>serverName</param-name> 
			<param-value>localhost:8888</param-value>
		</init-param> 
	</filter> 
	<filter> 
		<filter-name>CAS Validation Filter</filter-name> 
		<filter-class>org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter</filter-class> 
		<init-param> 
			<param-name>casServerUrlPrefix</param-name> 
			<param-value>https://cas.usherbrooke.ca/</param-value> 
		</init-param> 
		<init-param> 
			<param-name>serverName</param-name> 
			<param-value>localhost:8888</param-value>
		</init-param> 
		<init-param> 
			<param-name>artifactParameterName</param-name> 
			<param-value>ticket</param-value> 
		</init-param> 
		<init-param> 
			<param-name>redirectAfterValidation</param-name> 
			<param-value>true</param-value> 
		</init-param> 
	</filter> 
	<filter> 
		<filter-name>CAS HttpServletRequest Wrapper Filter</filter-name> 
		<filter-class>org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class> 
	</filter> 
	
	<filter-mapping> 
		<filter-name>CAS Authentication Filter</filter-name> 
		<url-pattern>/*</url-pattern> 
	</filter-mapping> 
	<filter-mapping> 
		<filter-name>CAS Validation Filter</filter-name> 
		<url-pattern>/*</url-pattern> 
	</filter-mapping> 
	<filter-mapping> 
		<filter-name>CAS HttpServletRequest Wrapper Filter</filter-name> 
		<url-pattern>/*</url-pattern> 
	</filter-mapping>
</web-app>